<menu>
    <menuitem label='Dashboard'>
        <action>DashboardView</action>
        <icon>fas:tachometer-alt fa-fw</icon>
    </menuitem>
    <menuitem label='Menu'>
        <icon>fa:list fa-fw</icon>
        <menu>
            <menuitem label='Usuários'>
                <icon>fa:user fa-fw</icon>
                <action>UsuariosFormList</action>
            </menuitem>
            
            <menuitem label='Grupos'>
                <icon>fa:users fa-fw</icon>
                <action>GruposFormList</action>
            </menuitem>
            
            <menuitem label='Configurações'>
                <icon>fas:wrench fa-fw</icon>
                <action>ConfigForm</action>
            </menuitem>
            
            <menuitem label='Sobre'>
                <icon>fa:coffee fa-fw</icon>
                <action>Sobre</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Logout'>
        <action>LoginLdap#method=onLogout#static=1</action>
        <icon>fas:sign-out-alt fa-fw</icon>
    </menuitem>
</menu>
